body{
  background-color: slategray;
}

h1  {
  color: white;
  text-align: center;
  font-family: fantasy;
}

#Isosceles {
  display: none;
}

#Equilateral {
  display: none;
}

#Scalene {
  display: none;
}

